html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
  }

.mdl-layout-title {
    color: black;
}

.mdl-layout__header {
	box-shadow: none !important;
	background-color: #f5f5f5 !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white;
  background-color: black;
}

.d3-tip {
  line-height: 1.5;
  font-weight: 400;
  font-family:"avenir next", Arial, sans-serif;
  padding: 6px;
  background:#fbfbfb ;
  color: #341d5c ;
  border-radius: 15px;
  pointer-events: none;
  box-shadow: 2px 2px 5px gray;
}
